.primary {
    display: flex; 
    justify-content: center;
    color: white;
    background-color: #121717;
    padding: 5px;
}

.primary img {
    width: 200px;
}

.secondary {
    display: flex;
    justify-content: center;
    background-color: #121717;
    padding: 30px;
}

.btn-outline-secondary {
    margin-left: 10px;
    width: 200px;
    margin-bottom: 10px;
}

  .menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px; 
  }

  body {
    background-image: url(/front/images/fondo1.jpg);
  }

  .col2 {
    width: 500px;
  }

  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .register-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .reg-button {
    display: flex;
    justify-content: center;
  }

 .third {
    background-color: #121717;
    display: flex;
    justify-content: center;
 }

